.drum-pad {
    background-color: #333;
    border: none;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease-out;
}

.drum-pad:hover {
    background-color: #444;
}